<div class="panel panel-info">
	<div class="panel-heading">{{exoToShow.title}}</div>
	<div class="panel-body">
		<div>
			{{exoToShow.description}}
		</div>
		<div>
			<div class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-time"></span> {{exoToShow.time}} min</div>
		</div>
		<button class="btn btn-sm btn-warning btn-raised"><span class="glyphicon glyphicon-share-alt"></span>Lets go!</button>
		<button class="btn btn-sm btn-success btn-raised">validate <span class="glyphicon glyphicon-check"></span></button>
		</div>
	</form>
	</div>
</div>
