<div class="panel panel-default">
	<div class="panel-body">
		<form role="search">
			<input type="text" class="form-control" placeholder="Search">
		</form>
		<div style="text-align: center">
			<a class="btn btn-danger btn-raised" ng-href="#/plans">
				<span class="glyphicon glyphicon-plus"></span>
				Add a Training Plan
			</a>
			<a class="btn btn-danger btn-raised" ng-href="#/exercices">
				<span class="glyphicon glyphicon-plus"></span>
				Add an Exercice
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-repeat="v in trainingList">
		<div class="panel panel-default">
			<div class="panel-body">{{v.title}}</div>
		</div>
	</div>
</div>
