<div>
	<div class="panel panel-info">
		<div class="panel-heading">Add Training Plan</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-md-2 control-label">Title</label>
				<div class="col-md-10">
					<input type="text" class="form-control" ng-model="plan.title">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Description</label>
				<div class="col-md-10">
					<textarea class="form-control" ng-model="plan.description"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Exercices</label>
				<div class="col-md-10">
					<button ng-repeat="v in tab" ng-show="tab"
						class="btn btn-sm btn-success btn-raised">{{v}}</button>
					<span ng-hide="tab"> <em>No exercices</em>
					</span>
					<button class="btn btn-sm btn-danger btn-raised" ng-init="showExoForm = false" ng-click="showExoForm = !showExoForm">
						<span ng-show="!showExoForm" class="glyphicon glyphicon-plus"></span>
						<span ng-show="showExoForm" class="glyphicon glyphicon-minus"></span>
					</button>
				</div>
				<div class="col-sm-12">
				<div class="pull-right">
					<button class="btn btn-raised btn-danger" ng-click="addTraining()">SAVE</button>
				</div>
			</div>
			</div>
		</form>
		</div>
	</div>
	<div ng-include="'views/exercice.html'" ng-controller="ExerciceCreateCtrl" ng-show="showExoForm"></div>
</div>
