<div class="panel panel-info">
	<div class="panel-heading">{{training.title}}</div>
	<div class="panel-body">
		<div>
			<div class="col-md-10">
				{{training.description}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Exercices</label>
			<div class="col-md-10">
				<button ng-repeat="exo in training.exercices" ng-show="training.exercices"
					class="btn btn-sm btn-success btn-raised">{{exo.title}}</button>
				<span ng-hide="training.exercices"> <em>No exercices</em>
				</span>
			</div>
			<div class="col-sm-12">
		</div>
		</div>
	</form>
	</div>
</div>
<div ng-include="'views/exercice.html'" ng-controller="ExerciceCreateCtrl" ng-show="show.exoForm"></div>
